<html>
<head>
<link rel="stylesheet" href="../style/teacher.css">
<title> English school </title>
</head>
<body>


	<div class="head">
		<p> English school... </p>
			

			<ul>
				<li style=background-color:#00cc00;><a href="Home.html">Home</a></li>
				<li style=background-color:pink><a href="ِAboutUs.html">About Us</a></li>
				<li style=background-color:orange><a href="Events.html">Events</a></li>
				<li style=background-color:purple><a href="History.html">History</a></li>
				<li style=background-color:yellow><a href="Contact.html">Contact</a></li>
			</ul>
			<div class="login">
			<form method ="get" action="Home.html">

			<input type="submit" name="submit" value="LogOut">
		</form>
		</div>
			
		
	</div>
	<div class="center">
			<div class="left">
				<div class="profile">
					<img src="man.jpg">	
				</div>
			<table >
			<tr style=background-color:#0066FF>
			<th>Manager Info</th>
			</tr>
			<tr style=background-color:#00FFFF>
			<td >Name</td>
			<td>Mo3aaz Mahmoud</td>
			</tr>
			<tr style=background-color:#0066FF>
			<td>Age</td>
			<td>50</td>
			</tr>
			<tr style=background-color:#00FFFF>
			<td>ID</td>
			<td>1</td>
			</tr>
			<tr style=background-color:#0066FF>
			<td>Date of Birth</td>
			<td>15 oct,2004</td>
			</tr>
			<tr style=background-color:#00FFFF>
			<td>Gender</td>
			<td>male</td>
			</tr>
			<tr style=background-color:#0066ff>
			<td>Nationality</td>
			<td>Egypt</td>
			</tr>
			</table>
			
			</div>
			<div class="right">
				<div class="pic1">
					<img src="31.jpg">
						<button class="button button1">View finance Reports</button>
				</div>
				<div class="pic2">
					<img src="32.png">
						<button class="button button2">View resources Reports</button>
				</div>
				<div class="pic3">
					<img src="33.png">
					<button class="button button3">Confirm Transcript</button>

					
				</div>
				<div class="pic4">
				<img src="34.png">
					<button class="button button4">Confirm Deletion</button>
					
					
				</div>
				
				
			
			</div>
			</div>
	
		<div class="bottom">
			<div class="bcenter">
		<div class="first">
         </div>		
		
		<div class="second">
		<h2> welcome in our school..!!  <h2/>
		
         </div>		
		 <div class="third">
         </div>		
		</div>
		</div>


</body>
</html>